* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}

  .header h1 {
    text-align: center;
    background: black;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(59, 59, 60) 56%, rgba(136, 136, 136, 0.984) 100%);
    color: whitesmoke;
    padding: 10px;
  }

  .serach-city {
    width: 100%;
    display: flex;
    border-radius: 20px;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
}

.enter-city input {
    width: 100%;
    /* flex: 1; */
    border: 1;
    border-radius: 10px;
    padding: 7px 5px;
    font-size: 20px;
    color: black;

}

::placeholder {
    color: black;
}

.enter-city button {
    background-color: rgba(53, 51, 51, 0.789);
    cursor: pointer;
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    flex: 1;
    border: 1;
    border-radius: 10px;
    padding: 7px 5px;
    font-size: 20px;
    color: black;
    padding: 10px;
    justify-content: center;
    
}


.enter-city button:hover {
    background-color: blue;
}

